</body>
</html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <titlе>Добавление хэштэга</titlе>
</head>
<body><h1>Добавление хэштэга</h1>
<div>
    <h1>
        <a href="{% url 'app-views-index' %}">Главная</a>
    </h1>
</div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% comment %}<select name="" id="">
        {% for rubric in rubrics %}
            <option value="{{ rubric.pk }}">{{ rubric.name }}</option>
        {% endfor %}
    </select>{% endcomment %}
    <br><br>
    <input type="submit" vаluе="Добавить">
</form>
</body>
</html>