<nav>

    <div class="twelve columns header_nav">
        <div class="row">

            <ul id="menu-header" class="nav-bar horizontal">
                <li><a href="{% url 'add-article' %}">Добавить статью</a></li>
                <li><a href="{% url 'app-views-index' %}">Главная</a></li>
                <li><a href="{% url 'app-views-article' %}">Артикл</a></li>
                <li><a href="{% url 'app-views-rubrika' %}">Рубрика</a></li>
                <!--<li><a href="">Искусственный интеллект</a></li>
                <li><a href="">Искусственная нейронная сеть</a></li>
                <li><a href="">Распознавание образов</a></li>
                <li><a href="">Робототехника</a></li>
                <li><a href="">Информационное общество</a></li>
                <li><a href="">Автоматическая обработка текста</a></li>
            -->
            </ul>


        </div>
    </div>

</nav><!-- END main menu -->